CH_PORT=8000
CH_DB_NAME=collectorhive_api_development
CH_DB_USER=postgres
CH_DB_PASSWORD=null
CH_DB_HOST=127.0.0.1
CH_DB_PORT=5432
# Generate at https://www.allkeysgenerator.com/Random/Security-Encryption-Key-Generator.aspx
JWT_SECRET=foo 
JWT_EXPIRES_IN=7d

# Generate credentials at https://ethereal.email
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=465
SMTP_USERNAME=generated_username
SMTP_PASSWORD=generated_password
MAIL_NOTIFIER_FROM='Collectorhive Notifier <no-reply@collectorhive.com>'
