| We received a request to change your password.
|
| Someone, hopefully you, requested a new password. If you didn't, no worries, your password hasn't changed.
|
| Follow the link below to reset your password
|
- url=`https://collectorhive.com/reset/${token}`
=url
|
|
|
| Thanks for using CollectorHive
